<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>servlet_03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddHeroServlet</display-name>
    <servlet-name>AddHeroServlet</servlet-name>
    <servlet-class>com.jiaoshy.controller.AddHeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHeroServlet</servlet-name>
    <url-pattern>/AddHeroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListHeroesServlet</display-name>
    <servlet-name>ListHeroesServlet</servlet-name>
    <servlet-class>com.jiaoshy.controller.ListHeroesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHeroesServlet</servlet-name>
    <url-pattern>/ListHeroesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.jiaoshy.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateServlet</display-name>
    <servlet-name>ShowUpdateServlet</servlet-name>
    <servlet-class>com.jiaoshy.controller.ShowUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateServlet</servlet-name>
    <url-pattern>/ShowUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.jiaoshy.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>