/CharAtDemo.class
/EqualsDemo.class
/IndexOfDemo.class
/IsEmptyDemo.class
/LastIndexOfDemo.class
/LengthDemo.class
/SplitDemo.class
/SubstringDemo.class
/ToCharArrayDemo.class
/ToLowerCaseDemo.class
/ToUpperCaseDemo.class
/TrimDemo.class
