/Demo01.class
/Demo02.class
/Demo3.class
/Demo03.class
/Demo04.class
/Demo05.class
/Demo06.class
/Demo07.class
/ToBinaryStringDemo.class
/LiteralsDemo.class
/MAXMINVALUEDemo.class
/NegativeNumberToBinaryStringDemo.class
/InversePlusOneDemo.class
/MaskCodeDemo.class
/RightShiftDemo.class
